<div id="container">
    <div id="hamburger" class="dropdown">
        <button 
        style ="border:none;background:transparent;color:#006fbe"
        class=" hover" 
        type="button" 
        id="dropdownMenuButton" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &#9776;
        </button>
        <div class=" hamburgerdropdown dropdown-menu " aria-labelledby="dropdownMenuButton"
         >
         <div></div>
         <svg width="100%" height="24" viewBox="0 0 216.0 24.0" _widgetname="Rectangle" 
         style='top:0px;left:0px;overflow:visible;position: relative; '>
           <g class="">
           <path class="draw" d="M0.0,0.0 L216.0,0.0 L216.0,24.0 L0.0,24.0 Z" 
           style="stroke:#96BFE4;fill:#96BFE4;fill-opacity:255.0;" transform="rotate(0.0, 108.0, 12.0) scale(1,1) translate(0.0,0.0)"></path>
           <text x="80" y="17" Style="color:rgb(24,62,103); font-weight:bold; font-size:13px; font-family:Arial, SansSerif; text-align:center; vertical-align:middle;width:100%;height:100%">Jump to:</text>
          </g>
          
        </svg>
          <a class="dropdown-item" href="#">Completion Checklist</a>
          <a class="dropdown-item" href="#">Closeout Letter</a>
          <a class="dropdown-item" href="#">GFE/GFP Reports</a>
          <a class="dropdown-item" href="#">Audit Reports</a>
          <a class="dropdown-item" href="#">Termination Documents</a>
        </div>
      </div>
  <div id="container_wrapper">
    <table style="width:100%;border-collapse: separate; ">
        <colgroup>
          <col  style="width:45%">
          <col  style="width:27.5%">
          <col  style="width:27.5%">
        </colgroup>
        <tr>
          <th class="header_column">Task
          </th>
          <th class="header_column">Supporting Documents</th>
          <th class="header_column"> Completion Time Stamp</th>
        </tr>

    </table>


    <p class="rowheader" >COR & Program Responsibilities</p>
        <table style="width:100% !Important;border-collapse: separate; ">
          <colgroup>
            <col  style="width:45%">
            <col  style="width:27.5%">
            <col  style="width:27.5%">
          </colgroup>

          <tr>
            <td><p class="row_p">Date Final Contractor Invoice Received</p></td>
            <td>test</td>
            <td>test</td>
          </tr>
          <tr>
            <td><p class="row_p">Review Funds</p></td>
            <td>test</td>
            <td>test</td>
          </tr>

          <tr>
            <td><p class="row_p">De‐Obligate Excess Funds</p></td>
            <td>test</td>
            <td>test</td>
          </tr>
          
          </table>


          <p  class="rowheader" >Resolve Financial Matters</p>
          <table style="width:100% !Important;border-collapse: separate; " >
            <colgroup>
              <col  style="width:45%">
              <col  style="width:27.5%">
              <col  style="width:27.5%">
            </colgroup>
              <tr>
                <td><p class="row_p">Provide COR Memoranda to CO</p></td>
                <td>test</td>
                <td>test</td>
              </tr>
    
              <tr>
                <td><p class="row_p">Review Funds</p></td>
                <td>test</td>
                <td>test</td>
              </tr>
          </table>


          <p  class="rowheader" >Closeout/Termination Letter</p>
          <table style="width:100% !Important;border-collapse: separate; " >
            <colgroup>
              <col  style="width:45%">
              <col  style="width:27.5%">
              <col  style="width:27.5%">
            </colgroup>
              <tr>
                <td><p class="row_p">Compile GFE/GFP Report</p></td>
                <td>test</td>
                <td>test</td>
              </tr>
    
              <tr>
                <td><p class="row_p">Prepare Release of Claims (FAR 52.232‐5(h))</p></td>
                <td>test</td>
                <td>test</td>
              </tr>

              <tr>
                <td><p class="row_p">Send Termination Letter to Vendor</p></td>
                <td>test</td>
                <td>test</td>
              </tr>
          </table>

          <p  class="rowheader" >Contract Audit</p>
          <table style="width:100% !Important;border-collapse: separate; " >
            <colgroup>
              <col  style="width:45%">
              <col  style="width:27.5%">
              <col  style="width:27.5%">
            </colgroup>
              <tr>
                <td><p class="row_p">Completed By:</p></td>
                <td>test</td>
                <td>test</td>
              
              </tr>
          </table>

          <p  class="rowheader" >CPARS </p>
          <table style="width:100% !Important;border-collapse: separate; " >
            <colgroup>
              <col  style="width:45%">
              <col  style="width:27.5%">
              <col  style="width:27.5%">
            </colgroup>
              <tr>
                <td><a>Link to CPARS</a></td>
                <td>test</td>
                <td>test</td>
              
              </tr>
          </table>

          <p  class="rowheader" >Records & Retention Date</p>
          <table style="width:100% !Important;border-collapse: separate; " >
            <colgroup>
              <col  style="width:45%">
              <col  style="width:27.5%">
              <col  style="width:27.5%">
            </colgroup>
              <tr>
                <td>Disposal Date: March 27, 2026</td>
                <td>test</td>
                <td>test</td>
              
              </tr>
          </table>



    <button class="btnmodify">Upload</button>
  </div>
</div>
<div class="bottomButtonContainer" >
<button class="closeout">Close Out</button>
</div>
