<div class="col-sm-12 col-md-12 cl-lg-11 col-xl-11">
    <span class="mt-2 ap-detail-title">Resources</span>


    <table class="table table-striped mt-3 mb-0 border">

        <thead>
          <tr>
            <th scope="col"><span style="font-weight: bold; font-size: 14px;">Resource Files</span></th>
            <th scope="col"><span style="font-weight: bold; font-size: 14px;">Download</span></th>
          </tr>
        </thead>

     

        <tbody>
      
          <tr>
            <td class="p-4">HHS Security and Privacy Language for Information and Information Technology Procurements Version 2.0, dated June 26, 2017 </td>
            <td><a target="_blank" href="assets/Resources/security-privacy-language_1.pdf"><i class="fa fa-download" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
              <td class="p-4">Federal Procurement's Policy's OFPP Policy Letter, dated 11-01</td>
              <td><a target="_blank" href="assets/Resources/Resources - Federal Procurement Policy's (OFPP) Policy Letter 11-01.pdf"><i class="fa fa-download" aria-hidden="true"></i></a></td>
            </tr>
     
        </tbody>

      </table>
</div>